{% extends 'base.html' %}
{% load static %}
{% block content %}


<section id="page4">
    <div class="container">
        <div class="row page2-text text-center">
            <div class="col-xl-12">
                <h2>Важнейшие классы роботов</h2>
            </div>
        </div>
        <div class="row page4-range">
            <div class="col-xl-6">
                <div class="page4-range-box">
                    <h4>Манипуляционный робот</h4>
                    <img src="{% static "img/page4/p4-1.png"%}">
                    <p>Автоматическая машина (стационарная или передвижная), состоящая из исполнительного устройства в
                        виде манипулятора, имеющего несколько степеней подвижности, и устройства программного
                        управления, которая служит для выполнения в производственном процессе двигательных и управляющих
                        функций. Такие роботы производятся в напольном, подвесном и портальном исполнениях. Получили
                        наибольшее распространение в машиностроительных и приборостроительных отраслях.</p>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="page4-range-box">
                    <h4>Мобильный робот</h4>
                    <img src="{% static "img/page4/p4-2.png"%}">
                    <p>Автоматическая машина, в которой имеется движущееся шасси с автоматически управляемыми приводами.
                        Такие роботы могут быть колёсными, шагающими и гусеничными (существуют также ползающие,
                        плавающие и летающие мобильные робототехнические системы)</p>
                </div>
            </div>

        </div>


    </div>
</section>

{% endblock %}