{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="page6">
        <div class="container">
            <div class="row page2-text text-center">
                <div class="col-xl-12">
                    <h2>Конструкторы программируемых роботов</h2>
                    <p>Среди наиболее популярных брендов образовательных конструкторов по робототехнике можно отметить
                        LEGO Education, Engino, Huna, Fischertechnik, Makeblock и другие.</p>
                </div>
            </div>

            <div class="row page6-range">
                <div class="col-xl-6">
                    <div class="page6-range-box">
                        <h4>LEGO MINDSTORMS Education EV3</h4>
                        <img src="{% static "img/page6/p6-1.jpg" %}">
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="page6-range-box">
                        <h4>Fischertechnik</h4>
                        <img src="{% static "img/page6/p6-2.jpg" %}">
                    </div>
                </div>

            </div>

            <div class="row page6-range">
                <div class="col-xl-6">
                    <div class="page6-range-box">
                        <h4>Huna</h4>
                        <img src="{% static "img/page6/p6-3.jpg" %}">
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="page6-range-box">
                        <h4>Makeblock</h4>
                        <img src="{% static "img/page6/p6-4.png" %}">
                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock %}