{% extends 'base.html' %}{% load static %}
{% block content %}
<section id="page3">
    <div class="container">
        <div class="row page2-text text-center">
            <div class="col-xl-12">
                <h2>История развития робототехники</h2>
            </div>
            <div class="col-xl-12">
                <p class="page3">
                    Слово <b>«робот»</b> вышло из под пера чешского фантаста Карела Чапека, написавшего в 1920 году
                    пьесу
                    <a class="first" title="Россумские Универсальные Роботы" href="{% static "img/page3/p3-4.jpg" %}">
                        «Р. У. Р.» – «Россумские Универсальные Роботы»</a>
                    , которая повествовала о фабрике, производящей искусственных людей. После того, как ее перевели на
                    английский и поставили на Бродвее, термин робот покорил сначала Америку, а потом и весь мир. <br>

                    История робототехники неразрывно связана с большинством изобретений, сделанных человечеством и
                    представляет собой естественное логическое продолжение техники как явления. <br>

                    Еще с самого начала нашей эволюции, человек нуждался в помощи... Но такая помощь ему не
                    представлялась. И уже со времен античности люди стали задумываться о создании механических людей,
                    способных выполнять тяжелую и рутинную работу. В мифах есть упоминания о создании Гефестом
                    механических рабов, выполняющих работу за человека. <br>

                    Но различные механизмы создавались и из научного интереса, Известен, например,
                    <a class="first" title="Механический голубь" href="{% static "img/page3/p3-1.jpg" %}">
                        механический голубь</a>
                    греческого математика Архита из Тарентума, построенный им около 400 года н.э. Возможно, движущийся
                    при помощи пара, голубь был способен летать. <br>

                    Первый чертёж
                    <a class="first" title="Робот-рыцарь Леонардо да Винчи" href="{% static "img/page3/p3-2.jpg" %}">
                        человекоподобного робота</a>
                    был сделан Леонардо да Винчи около 1495 года. Его записи были найдены только в 1950-х годах и
                    содержали подробные чертежи рыцаря, способного двигать руками и головой. Хотя, не известно, был ли
                    построен этот робот. Существует также мнение, что специалисты NASA использовали находки Леонардо для
                    создания манипулятора, при подготовки экспедиций на Луну. <br>

                    Первого действующего человекоподобного робота создал французский изобретатель Жак де Вокансон в 1737
                    году. Андроид представлял из себя человека в натуральную величину способного на флейте. Флейтист
                    Вокансона имел в репертуаре 12 произведений! <br>

                    Но самое известное изобретение Жака де Вокансона -
                    <a class="first" title="Пищеварительная утка Жака де Вокансона"
                       href="{% static "img/page3/p3-3.jpg" %}">
                        пищеварительные утки</a>
                    ,созданные им в 1739 году. Эти роботы состояли примерно из 400 деталей, и умели хлопать крыльями,
                    пить воду. Также утки клевали зерна и через секунду - испражнялись. Но, на самом деле, утка не
                    переваривала пищу: съеденные зерна, помещались в специальный контейнер, а "продукт на выходе" был
                    заготовлен в другом. <br>

                    К концу XIX века инженер из России Чебышёв Пафнутий придумал механизм — стопоход, который обладал
                    высокой проходимостью. Конечно, это изобретение не представляло огромной пользы для человечества, но
                    сама задумка дала определенный толчок к развитию технологий роботостроения.
                </p>
            </div>
        </div>

    </div>
</section>
{% endblock %}