{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="page2">
        <div class="container">
            <div class="row page2-text text-center">
                <div class="col-xl-12">
                    <h2>Робототехника</h2>
                    <p>Робототе́хника — прикладная наука, занимающаяся разработкой автоматизированных технических систем
                        и
                        являющаяся важнейшей технической основой развития производства.
                        Робототехника опирается на такие дисциплины, как электроника, механика, кибернетика,
                        телемеханика,
                        информатика, а также радиотехника и электротехника. Выделяют строительную, промышленную,
                        бытовую,
                        медицинскую, авиационную и экстремальную (военную, космическую, подводную) робототехнику.</p>
                </div>
            </div>
            <div class="row page2-range">
                <div class="col-xl-2 col-md-4 wow zoomIn">
                    <div class="page2-range-box tickets">
                        <a class="first" title="Строительные роботы" href="{% static "img/page2/p2-1-1.jpg" %}">
                            <img src="{% static "img/page2/p2-1.jpg" %}">
                            <p>Строительные роботы</p></a>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 wow zoomIn">
                    <div class="page2-range-box tickets">
                        <a class="first" title="Промышленные роботы" href="{% static "img/page2/p2-2-1.jpg" %}">
                            <img src="{% static "img/page2/p2-2.jpg" %}">
                            <p>Промышленные роботы</p></a>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 wow zoomIn">
                    <div class="page2-range-box tickets">
                        <a class="first" title="Бытовые роботы" href="{% static "img/page2/p2-3-1.jpg" %}">
                            <img src="{% static "img/page2/p2-3.jpg" %}">
                            <p>Бытовые роботы</p></a>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 wow zoomIn">
                    <div class="page2-range-box tickets">
                        <a class="first" title="Медицинские роботы" href="{% static "img/page2/p2-4-1.jpg" %}">
                            <img src="{% static "img/page2/p2-4.jpg" %}">
                            <p>Медицинские роботы</p></a>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 wow zoomIn">
                    <div class="page2-range-box tickets">
                        <a class="first" title="Авиационные роботы" href="{% static "img/page2/p2-5-1.jpg" %}">
                            <img src="{% static "img/page2/p2-5.jpg" %}">
                            <p>Авиационные роботы</p></a>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 wow zoomIn">
                    <div class="page2-range-box tickets">
                        <a class="first" title="Экстремальные роботы" href="{% static "img/page2/p2-6-1.jpg" %}">
                            <img src="{% static "img/page2/p2-6.jpg" %}">
                            <p>Экстремальные роботы</p></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
